.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; // Adjust based on your design
  background-color:black; // Or your preferred background
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000; // Ensure it stays above other content
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional for subtle depth

  > img {
    width: auto;
    height: 25px;
  }

  .nav {
    display: flex;
    gap: 50px;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    > a {
      color: var(--white);
      font-weight: 600;
      text-decoration: none;
      font-size: var(--fs-md);
      transition: color 0.3s;

      &:hover {
        color: var(--red);
      }
    }
  }

  .right {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 3%;

    > svg {
      width: 30px;
      height: 30px;
    }
  }
}
