.seatSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: #000000;
  border-radius: 12px;
  max-width: 800px;
  margin: 2rem auto;
  box-sizing: border-box;
}

.seatMap {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1.5rem 0;
  width: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.horizontalAisle {
  width: 24px;
  height: 100%;
}

.rowLabel {
  color: #888;
  font-weight: 600;
  width: 26px;
  text-align: center;
  font-size: 0.75rem;
}

.seat {
  width: 24px;
  height: 24px;
  border: 2px solid #DA234399;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: white;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat:hover:not(.unavailable):not(.selected) {
  background-color: #da234344;
  transform: scale(1.05);
}

.seat.selected {
  background-color: #DA2343;
  border-color: #DA2343;
  box-shadow: 0 0 6px #DA234388;
}

.seat.unavailable {
  background-color: #444;
  border-color: #555;
  cursor: not-allowed;
}

.seatNumbers {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1rem;
  padding-left: 20px;
}

.seatNumber {
  width: 24px;
  text-align: center;
  color: #888;
  font-size: 0.6rem;

}

.seatNumberDisplay{
    margin-top: 50px;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background: #000000;
  border-radius: 8px;
  width: 100%;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legendItem .seat {
  width: 20px;
  height: 20px;
  cursor: default;
}

.legendItem span {
  color: #ccc;
  font-size: 0.8rem;
}


.header {
  position: absolute;
  width: 192px;
  height: 28px;
  left: 841px;
  top: 181px;

  > h2 {
    font-family: 'Outfit' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 117.29%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  > img {
    position: absolute;
    width: 585px;
    height: 29px;
    left: -195px;
    top: 60px;
  }

  > h3 {
    position: absolute;
    width: 75px;
    height: 14px;
    left: 49px;
    top: 88px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 117.29%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
}
