.timing-box {
  background: #1a0b0f;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  position: sticky;
  top: 100px;

  p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  button {
    display: block;
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    color: white;
    text-align: left;
    cursor: pointer;

    &.active {
      width: 119px;
      background-color: var(--red);
    }

    &:hover {
      width: 119px;
      background-color: var(--secondary-dark);
    }
  }
}
