.container {
  display: flex;
  // padding-top: 100px;
  padding: 60px 40px;
  gap: 60px;
  background: #0c0c0c;
  color: white;
  background-color: var(--black);
  min-height: 100vh;
  box-sizing: border-bobox;
   >Button {
    width: 230px;
    height: 44px;
    position: absolute;
    top: 800px;
    left: 820px;
  }
}


.Timer{
  margin-left: 100px;
  margin-top: 181px;

}


.seats {
  display: flex;
  height: 100vh;
  align-items: center;
  color: var(--white);
  justify-content: center;
  margin-top: 90px;
  margin-left: 190px;
}

.rowGap {
  margin-bottom: 10px;
}
