.container {
  display: flex;
  padding: 15px;
  flex-direction: column;
  background-color: var(--dark);
  border-radius: var(--border-radius);

  > img {
    height: 180px;
    object-position: top;
    object-fit: cover;
  }

  > figcaption {
    display: grid;
    gap: 5px;
    margin-top: 10px;

    > h3 {
      font-size: var(--fs-lg);
      font-weight: var(--fw-medium);
    }

    > p {
      color: var(--grey);
      font-size: var(--fs-md);
    }
  }

  > div {
    display: flex;
    padding: 30px 0 15px 0;
    align-items: center;
    justify-content: space-between;

    .btn {
      width: auto;
      height: auto;
      padding: 10px 20px;
    }
    > p {
      display: flex;
      gap: 5px;
      align-items: center;

      > svg {
        > path {
          fill: var(--red);
        }
      }
    }
  }
}